@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: #fff;
  background: #151f28;
  padding: 10px 20px;
  display: none;
  z-index: 999;
  transition: 0.5s ease-in-out;
}
.to-top:hover {
  transition: 1s ease-in-out;
  color: #fff;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.background {
  width: 100%;
  height: 100vh;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top left,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top left,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#particles-js {
  height: 100%;
}

.nav-bar {
  z-index: 999;
  position: fixed;
  padding: 10px 80px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  background: rgba(127, 127, 213, 0.8);
  box-shadow: 1px 1px 5px 5px #7f7fd5;
}

.logo {
  float: left;
  width: 75px;
  height: 75px;
}

.logo img {
  width: 100%;
}

.menu {
  float: right;
  z-index: 999;
}

.menu ul {
  margin-top: 20px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
  padding: 5px 20px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
  position: relative;
}

.menu ul li a:after {
  position: absolute;
  top: 100%;
  left: 100%;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #283593;
  transition: 0.7s;
}

.menu ul li a:before {
  position: absolute;
  top: 100%;
  right: 100%;
  content: "";
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #283593;
  transition: 0.7s;
}

.menu ul li a:hover:after {
  text-decoration: none;
  color: white;
  width: 40%;
  left: 10%;
}

.menu ul li a:hover:before {
  width: 40%;
  right: 10%;
}

.onplay {
  background: white;
  box-shadow: 1px 1px 35px gray;
}

.onplay .menu ul li a {
  color: black;
}

.onplay .logo h1 {
  color: #283593;
}

.container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: table;
}

.home-image {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 10px 5px #7f7fd5;
  padding: 15px;
  border-radius: 100%;
}

.home-image img {
  width: 100%;
  border-radius: 100%;
}

.home-text {
  padding: 30px 0 0 30px;
  text-align: left;
}

.home-text h2 {
  font-size: 25px;
  font-family: "poppins";
  color: #424242;
  text-align: left;
}

.home-text h3 {
  font-size: 40px;
  font-family: "poppins";
  color: #212121;
  text-align: left;
}

.typing h2 {
  font-family: "poppins", sans-serif;
  color: #37474f;
  font-size: 1.8em;
  text-align: left;
}

.text {
  color: #283593;
  font-weight: bold;
}
/*about me*/

/* loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #7f7fd5;
  z-index: 9999;
}

.loader-hidden {
  transform: translateY(-200%);
  display: none;
  transition: 1s ease-out;
}

@keyframes ldio-b6x15af0l2n {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-b6x15af0l2n div {
  box-sizing: border-box !important;
}
.ldio-b6x15af0l2n > div {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 26px;
  left: 26px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #283593 transparent #283593 transparent;
  animation: ldio-b6x15af0l2n 0.7246376811594202s linear infinite;
}

.ldio-b6x15af0l2n > div:nth-child(2),
.ldio-b6x15af0l2n > div:nth-child(4) {
  width: 136px;
  height: 136px;
  top: 32px;
  left: 32px;
  animation: ldio-b6x15af0l2n 0.7246376811594202s linear infinite reverse;
}
.ldio-b6x15af0l2n > div:nth-child(2) {
  border-color: transparent #e1bee7 transparent #e1bee7;
}
.ldio-b6x15af0l2n > div:nth-child(3) {
  border-color: transparent;
}
.ldio-b6x15af0l2n > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-b6x15af0l2n > div:nth-child(3) div:before,
.ldio-b6x15af0l2n > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 68px;
  background: #283593;
  border-radius: 50%;
  box-shadow: 0 144px 0 0 #283593;
}
.ldio-b6x15af0l2n > div:nth-child(3) div:after {
  left: -4px;
  top: 68px;
  box-shadow: 144px 0 0 0 #283593;
}

.ldio-b6x15af0l2n > div:nth-child(4) {
  border-color: transparent;
}
.ldio-b6x15af0l2n > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-b6x15af0l2n > div:nth-child(4) div:before,
.ldio-b6x15af0l2n > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 62px;
  background: #e1bee7;
  border-radius: 50%;
  box-shadow: 0 132px 0 0 #e1bee7;
}
.ldio-b6x15af0l2n > div:nth-child(4) div:after {
  left: -4px;
  top: 62px;
  box-shadow: 132px 0 0 0 #e1bee7;
}
.loadingio-spinner-double-ring-ibzzkd7b66g {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #7f7fd5;
}
.ldio-b6x15af0l2n {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b6x15af0l2n div {
  box-sizing: content-box;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* loader ends */
.about {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 4%;
}

.title span {
  font-size: 27px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: josefin sans;
  position: relative;
}

.title span:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 40%;
  height: 5px;
  background: #283593;
}

.about-image {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  background: rgba(21, 101, 192, 0.5);
  border-radius: 50%;
}

.about-image img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
}

.introduction {
  text-align: justify;
  font-family: dosis;
}

.introduction h1 {
  font-size: 35px;
  font-weight: bolder;
  font-family: "Poppins";
  margin-bottom: 15px;
}

.introduction h4 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Ubuntu";
  letter-spacing: 0.2em;
  margin-bottom: 15px;
}

.skill {
  text-align: left;
}

.skill h2 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.skill h3 {
  font-family: ubuntu;
  font-size: 15px;
  font-weight: bolder;
}
/*about me ends*/

/*services*/
.owl-carousel {
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  display: table;
  background: #f5f5f5;
  overflow: hidden;
}

.s-box {
  height: 250px;
  display: table;
  background: none;
  float: left;
}

.s-box .fa {
  font-size: 40px;
  font-weight: 100;
  color: #283593;
  opacity: 0.8;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  transition: 0.5s;
}

.s-box:hover .fa {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  color: #000;
}

.s-box:hover h3 {
  color: #283593;
  opacity: 0.8;
}

.s-box h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: ubuntu;
  text-align: center;
  margin-bottom: 20px;
}

.s-box p {
  color: #616161;
  text-align: justify;
  text-align-last: center;
  font-family: dosis;
}

.owl-dots {
  margin-top: 10px;
  text-align: center;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  background: #adaca8;
  display: block;
  border-radius: 30px;
  margin: 5px 7px;
}

.owl-dot.active span {
  background: #333;
}
/*services ends*/

/*counter*/
.counter-section {
  width: 100%;
  display: table;
  background: #3f51b5;
  padding: 50px 80px 0;
  box-sizing: border-box;
}

.counter-box {
  height: 200px;
  float: left;
  text-align: center;
}

.counter-box .fa {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  transition: 0.5s;
}

.counter-box h4 {
  font-size: 50px;
  font-family: "ubuntu";
  font-weight: bolder;
  color: #fff;
}

.counter-box h5 {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  color: #fff;
}
/*counter ends*/

/*portfolio*/
.portfolio-section {
  margin-top: 2em;
  padding: 50px 80px;
}

.portfolio-box {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.p-box-1 {
  background: #ffc107;
}

.portfolio-box h5 {
  font-family: josefin sans;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.portfolio-box p {
  font-family: dosis;
  text-align: justify;
}

.portfolio-box .p-box-img {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 100%;
  padding: 5px;
}

.portfolio-box .p-box-img img {
  width: 80%;
  border-radius: 100%;
}

.portfolio-box .btn-primary {
  padding: 10px;
  background: none;
  letter-spacing: 0.1em;
  border-radius: 30px;
  border: none;
  font-family: josefin sans;
}

.p-box-1 h5,
.p-box-4 h5 {
  color: #212121;
}

.p-box-1 p,
.p-box-4 p {
  color: #424242;
}

.p-box-1 .btn-primary {
  color: #424242;
  border-radius: 30px;
  background: #ffc107;
  box-shadow: 2px 2px 4px #d9a406, -2px -2px 4px #ffde08;
}

.p-box-2 {
  background: #424242;
}

.p-box-2 h5,
.p-box-3 h5 {
  color: #e0e0e0;
}

.p-box-2 p,
.p-box-3 p {
  color: #efefef;
}

.p-box-2 .btn-primary {
  color: #e0e0e0;
  border-radius: 30px;
  background: #424242;
  box-shadow: 2px 2px 4px #383838, -2px -2px 4px #4c4c4c;
}

.p-box-3 {
  background: #4a148c;
}

.p-box-3 .btn-primary {
  color: #e0e0e0;
  border-radius: 30px;
  background: #4a148c;
  box-shadow: 2px 2px 4px #3f1177, -2px -2px 4px #5517a1;
}

.p-box-4 {
  background: #e0e0e0;
}

.p-box-4 .btn-primary {
  color: #424242;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
/*portfolio ends*/

/* articles */
.articles-section {
  padding: 50px 80px;
  background: #283593;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2em;
  text-align: center;
}

.articles-section p {
  font-family: dosis;
  color: #e0e0e0;
  font-size: 1.5em;
  text-align: center;
}

.articles-section .btn-primary {
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 15px;
  border-radius: 30px;
  background: none;
  border: 2px solid #e0e0e0;
  font-family: ubuntu;
  font-size: 1em;
  width: 150px;
}

.articles-section .btn-primary:hover {
  background: #e0e0e0;
  color: #424242;
  transition: 0.5s ease-in-out;
}
/* articles ends */

/*contact*/
.contact-section {
  width: 100%;
  padding: 80px;
  box-sizing: border-box;
  display: table;
}

.c-box {
  width: 22%;
  box-shadow: 3px 3px 10px #b8b5ad;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.c-middle {
  margin-left: 4%;
}

.c-last {
  float: right;
}

.c-box .c-last {
  float: right;
}

.c-box .fa {
  color: #283593;
  opacity: 0.9;
  font-size: 35px;
  margin-bottom: 15px;
}

.c-box h5 {
  font-weight: bolder;
  font-family: ubuntu;
  letter-spacing: 0.1em;
}

.c-box p {
  font-family: "Poppins";
}

.c-box ul {
  margin-bottom: 0;
}

.c-box ul li {
  display: inline-block;
}

.c-box ul li .fa {
  font-size: 18px;
  color: #000;
  transition: 0.5s;
}

.c-box ul li a {
  padding: 0 7px;
}
/*contact ends*/

/*send message*/
.send-message {
  width: 100%;
  padding: 30px 80px;
  box-sizing: border-box;
  display: table;
  background: #fff;
}

.form {
  display: table;
  width: 50%;
  padding: 30px 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px #b8b5ad;
}

.form-group {
  position: relative;
}

.form-group label {
  font-family: "Poppins";
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -15px;
  font-size: 13px;
  color: #283593;
  font-weight: bold;
}

.form input {
  display: block;
  margin: auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: ubuntu;
  margin-bottom: 40px;
  transition: 1.5s ease;
}

.form input:nth-child(1) {
  margin-right: 5%;
}

.form textarea {
  width: 100%;
  border: 2px solid gray;
  outline: none;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: ubuntu;
  margin-bottom: 20px;
  height: 300px;
  transition: 0.5s;
}

.form textarea:focus {
  border: 2px solid #283593;
}

.submit {
  background: #283593;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  font-family: poppins;
  color: #fff;
  transition: 0.5s;
}

.submit:hover {
  box-shadow: 2px 0 10px #283593;
}

.error {
  margin-top: 5px;
  transition: 0.5s;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: tomato;
  font-weight: bold;
  font-family: "dosis";
}
/*send message ends*/

/*footer*/
.footer {
  width: 100%;
  padding: 30px 80px;
  background: #232323;
}

.footer p {
  color: #fff;
  font-family: poppins;
  letter-spacing: 0.1em;
  padding: 0;
}

.footer p span {
  color: rgb(38, 198, 218);
  text-decoration: underline;
}
/*footer ends*/

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
  z-index: 999;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		*/
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/*owl carousel ends*/

/*progress bar*/
.progressbar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  position: relative;
  background-color: #f4f4f4;
}
.proggress {
  height: 8px;
  width: 10px;
  background-color: #ff0;
}
.percentCount {
  float: right;
  margin-top: -42px;
  clear: both;
  font-weight: 700;
  font-size: 13px;
  color: #777777;
}
/*progress bar ends*/
